[Unit]
Description=Initialize firewall and monitor interfaces

[Service]
Type=oneshot
WorkingDirectory=/opt/fwscripts
ExecStart=/bin/bash /opt/fwscripts/run.sh
